*.swp
*.pyc
*.py~
*.bak
.pytest_cache
.DS_Store
.idea
.vscode
.coverage
.coverage.*
__pycache__/
_build/
*.npz
*.pth
.pytype/
git_rewrite_commit_history.sh

# Setuptools distribution and build folders.
/dist/
/build
keys/


*.sublime-project
*.sublime-workspace

.idea

logs/
qwen_server_logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk

*.egg-info
.cache
*.lprof
*.prof

MUJOCO_LOG.TXT
exp/
*.ipynb
test_scripts/*
*.pdf
figures
figure/
data/


softgym/PyFlex/bindings/build
# Local-only files (do not track)
env=metaworld_sweep-into-v2
reward-valuemodel.zip
reward=learn_from_preference
vlm_label=1
softgym/softgym/cached_initial_states/cloth_fold_diagnal_init_states.pkl
*.zip
